:root {
  --color-space-background: rgb(28, 28, 38);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--color-space-background);
}

.space_ship {
  position: absolute;
  height: 5rem;
  width: 5rem;
  bottom: 10px;
  left: 0px;
}

.obstacle {
  height: 3rem;
  width: 3rem;
}

.fireshot {
  height: 1rem;
  width: 1rem;
}

.explosion{
    height: 3rem;
  width: 3rem;
}
